<div>
    {{#article}}
        {{id}} {{title}} {{content}}

        <a href="/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/articles/{{id}}/delete" class="btn btn-danger">delete</a>
        <a href="/articles/list" class="btn btn-danger">list</a>
    {{/article}}

</div>