<div>
    이 페이지는 show입니다.
    {{#article}}
        {{id}} {{title}} {{content}}

        <a href="/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/articles/{{id}}/delete" class="btn btn-danger">delete</a>
    {{/article}}

</div>